.adv-about-background {
  background-color: #ffffff;
  background-repeat: repeat-y;
  background-position: center -29px;
  background-image: url("../img/triangles.png");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/triangles@2x.png");
    background-size: 1920px 1344px;
  }

  @include nest-parent(".webp ") {
    background-image: url("../img/triangles.webp");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/triangles@2x.webp");
    }
  }
}


@media (max-width: $tablet-width) {
  .adv-about-background {
    background-position: calc(50% + 227px) -85px;
  }
}
