.button {
  display: inline-block;
  box-sizing: border-box;
  padding: 13px 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  font-style: normal;
  letter-spacing: 0.05em;
  border: 1px solid #ffffff;
  border-radius: 5px;

  &--white {
    color: #ffffff;
    background-color: transparent;
    border-color: #ffffff;
  }

  &--blue {
    color: #ffffff;
    background-color: #00b2ff;
    border-color: #00b2ff;
  }

  &--whiteblue {
    color: #00b2ff;
    background-color: #ffffff;
    border-color: #00b2ff;
  }

  &--big {
    padding: 17px 20px;
    font-size: 16px;
    line-height: 19px;
  }
}
