.button {
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 14px 27px;

  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;

  &--white {
    background-color: transparent;
    border-color: #ffffff;
    color: #ffffff;
  }
}

