.footer-nav {
  width: 500px;

  &__header {
    margin-top: 0;
    margin-bottom: 25px;
    font-weight: normal;
    font-size: 15px;
    line-height: 16px;
    font-family: "Roboto Condensed", "Arial", sans-serif;
    color: #1b2d37;
    text-transform: uppercase;
    font-style: normal;
    letter-spacing: 0.05em;
  }

  &__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100px;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__link {
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    font-family: "PT Mono", "Courier New", monospace;
    color: #1b2d37;
    text-decoration: none;
    font-style: normal;
    opacity: 0.5;

    &:hover {
      color: #00b2ff;
    }
  }

  &__toggle {
    display: none;
  }
}

@media (max-width: $tablet-width) {
  .footer-nav {
    width: auto;

    &__list {
      height: auto;
    }
  }
}

@media (max-width: $mobile-width) {
  .footer-nav {
    position: relative;
    padding: 29px 15px 2px;
    border-bottom: 1px solid rgba(98, 105, 98, 0.2);

    &__list {
      display: none;
      margin-top: 32px;
      margin-bottom: 20px;
    }

    &__toggle {
      position: absolute;
      top: 29px;
      right: 17px;
      display: block;
      width: 17px;
      height: 17px;

      &::before,
      &::after {
        content: "";
        position: absolute;
        display: block;
        background: #c4c4c4;
      }

      &::before {
        top: 8px;
        left: 0;
        width: 17px;
        height: 1px;
      }

      &::after {
        top: 0;
        left: 8px;
        width: 1px;
        height: 17px;
      }
    }

    &__toggle-checkbox:checked ~ &__list {
      display: flex;
    }

    &__toggle-checkbox:checked ~ &__toggle::after {
      display: none;
    }
  }
}
