.logo {
  position: relative;
  display: block;
  width: 220px;
  height: 52px;
  text-decoration: none;
  white-space: nowrap;


  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 52px;
    height: 52px;
    background-image: url("../img/circuit.svg");
    background-repeat: no-repeat;
  }

  &__top {
    position: absolute;
    top: 6px;
    left: 68px;
    display: block;
    font-weight: bold;
    font-size: 25px;
    line-height: 29px;
    font-family: "Roboto Condensed", "Arial", sans-serif;
    color: #ffffff;
    font-style: normal;

    &--dark {
      color: #203c42;
    }
  }

  &__bottom {
    position: absolute;
    top: 36px;
    left: 68px;
    display: block;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    font-family: "Roboto", "Arial", sans-serif;
    color: #788891;
    font-style: normal;
  }
}

@media (max-width: $mobile-width) {
  .logo--mobile-icon {
    width: 50px;
    height: 38px;

    &::before {
      width: 38px;
      height: 38px;
      background-size: 38px 38px;
    }

    .logo__top,
    .logo__bottom {
      display: none;
    }
  }
}
