.main-screen {
  &__image {
    max-width: 1569px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: calc(30% + 599px) 23px;
    background-image: url("../img/main-d.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/main-d@2x.png");
      background-size: 713px 655px;
    }

    @include nest-parent(".webp ") {
      background-image: url("../img/main-d.webp");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/main-d@2x.webp");
      }
    }
  }

  &__content {
    position: relative;
    max-width: 1469px;
    min-height: 783px;
    margin: 0 auto 0;
    padding: 166px 25px 50px;
  }

  &__header {
    margin-bottom: 27px;
    font-weight: bold;
    font-size: 80px;
    line-height: 94px;
    font-family: "Roboto Condensed", "Arial", sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    font-style: normal;
    letter-spacing: 0.07em;
  }

  &__desc {
    position: relative;
    display: block;
    max-width: 710px;
    margin-bottom: 20px;
    padding-left: 98px;
    font-weight: normal;
    font-size: 22px;
    line-height: 34px;
    font-family: "PT Mono", "Courier New", monospace;
    color: #ffffff;
    font-style: normal;

    &::before {
      content: "";
      position: absolute;
      top: 17px;
      left: 4px;
      display: block;
      width: 66px;
      height: 2px;
      background-color: #ffffff;
    }
  }

  &__button {
    width: 407px;
    margin-top: 24px;
    margin-left: 98px;
  }

  &__button-mobile {
    display: none;
  }

  &__scrolldown {
    position: absolute;
    bottom: 128px;
    left: -9px;
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    font-family: "PT Mono", "Courier New", monospace;
    color: #ffffff;
    text-decoration: none;
    font-style: normal;
    transform: rotate(-90deg);
    opacity: 0.5;
    scroll-behavior: smooth;

    &:hover {
      opacity: 0.7;
    }
  }
}

@media (max-width: $tablet-width) {
  .main-screen {
    &__content {
      min-height: 604px;
      padding: 66px 88px 30px;
    }

    &__header {
      max-width: 400px;
      margin-bottom: 29px;
      font-size: 60px;
      line-height: 70px;
    }

    &__desc {
      max-width: 450px;
      padding-left: 51px;
      font-size: 18px;
      line-height: 156.8%;

      &::before {
        top: 16px;
        left: 3px;
        width: 33px;
        height: 2px;
      }
    }

    &__button {
      width: 379px;
      margin-top: 35px;
      margin-left: 51px;
    }

    &__image {
      max-width: 1569px;
      background-image: url("../img/main-t.png");
      background-position: calc(30% + 381px) 0;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/main-t@2x.png");
        background-size: 520px 385px;
      }

      @include nest-parent(".webp ") {
        background-image: url("../img/main-t.webp");

        @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
          background-image: url("../img/main-t@2x.webp");
        }
      }
    }

    &__scrolldown {
      display: none;
    }
  }
}

@media (max-width: $mobile-width) {
  .main-screen {
    &__content {
      min-height: 582px;
      padding: 194px 15px 30px;
    }

    &__header {
      max-width: 277px;
      margin-bottom: 27px;
      font-size: 40px;
      line-height: 47px;
    }

    &__desc {
      max-width: 450px;
      padding-left: 51px;
      font-size: 16px;
      line-height: 158.8%;

      &::before {
        top: 15px;
      }
    }

    &__button-destop {
      display: none;
    }

    &__button {
      width: calc(100% - 3px);
      margin-top: 20px;
      margin-left: 3px;
    }

    &__button-mobile {
      display: inline;
    }

    &__image {
      max-width: 1569px;
      background-image: url("../img/main-m.png");
      background-position: calc(50% + 168px) 4px;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/main-m.png");
        background-size: 603px 368px;
      }

      @include nest-parent(".webp ") {
        background-image: url("../img/main-m.webp");

        @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
          background-image: url("../img/main-m.webp");
        }
      }
    }
  }
}
